<div class="flexA col-md-3">
  <div class="sideA">
    <h1 class="bob"><a href="https://fontmeme.com/bobs-burgers-tv-show-font/"><img
          src="https://fontmeme.com/permalink/201019/c24ac34a2649f78ee208560ba914dd08.png"
          alt="bobs-burgers-tv-show-font" border="0"></a></h1>
  </div>
  <div class="col-md-9">
  </div>
</div>
<div class="dayB">
  <div class="div">
    <h2 class="add">
      Burger of the Day
    </h2>
  </div>
</div>
<div class="bForm">
  <form class="create-form">

    <body class="background">
      <div class="form-group">
        <label class="bName" for="ca">Burger Name:</label>
        <input type="text" id="ca" name="burger_name">
      </div>
      <button class="btnAdd" type="submit">
        Add
        <i class="fas fa-hamburger"></i>
      </button>
  </form>
</div>
<div class="flex">
  <div class="side1">
    <h3 class="notD">Your Burger is Ready!</h3>

    <ul>
      {{#each burgers}}
      {{#unless devoured}}
      {{> burgers/burger-block}}
      {{/unless}}
      {{/each}}
    </ul>
  </div>
  <div class="side2">
    <h3 class="areD">Burgers Eaten!</h3>

    <ul>
      {{#each burgers}}
      {{#if devoured}}
      <li>
        {{this.burger_name}}
      </li>
      {{/if}}
      {{/each}}
    </ul>
  </div>
</div>
</body>


{{!-- <div class="form-group">
    <label for="devoured">Devoured?</label><br>
    <input type="radio" name="devoured" value="1" checked>Devoured!<br>
    <input type="radio" name="devoured" value="0"> Not Eaten
  </div> --}}