<div class="container">
  <div class="jumbotron">
    <h2 class="add">Add a Burger</h2>
    <form class="create-form">
<body class="background">
      <div class="form-group">
        <label for="ca">Burger Name:</label>
        <input type="text" id="ca" name="burger_name">
      </div>
      <button class="btnAdd" type="submit">Add Burger</button>
    </form>
  </div>
</div>
<h1>Burgers!</h1>
<div class="flex">
  <div class="side1">
    <h3 class="notD">Burgers that are not devoured!</h3>

    <ul>
      {{#each burgers}}
      {{#unless devoured}}
      {{> burgers/burger-block}}
      {{/unless}}
      {{/each}}
    </ul>
  </div>
  <div class="side2">
    <h3 class="areD">Burgers that are devoured!</h3>

    <ul>
      {{#each burgers}}
      {{#if devoured}}
      <li>
        {{this.burger_name}}
      </li>
      {{/if}}
      {{/each}}
    </ul>
  </div>
</div>
</body>


{{!-- <div class="form-group">
    <label for="devoured">Devoured?</label><br>
    <input type="radio" name="devoured" value="1" checked>Devoured!<br>
    <input type="radio" name="devoured" value="0"> Not Eaten
  </div> --}}