li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
  text-align: center;
  border-radius: 10px;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
.flex {
  justify-content: space-around;
  display: flex;
}
.side1 {
  justify-content: space-around;
  flex-wrap: nowrap;
}
.side2 {
  justify-content: space-around;
  flex-wrap: nowrap;
}
.conBob {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  color: white;
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  border: thin dotted black;
  padding: 80px;
  border-radius: 15px;
  box-sizing: border-box;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.add {
  text-align: center;
  justify-content: left;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  background-color: #faebd7;
  border-radius: 10px;
  padding: 2%;
  display: flex;
  justify-content: center;
}
.notD {
  text-align: center;
  justify-content: left;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  background-color: #faebd7;
  border-radius: 10px;
  padding: 2%;
}
.areD {
  text-align: center;
  justify-content: left;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  background-color: #faebd7;
  border-radius: 10px;
  padding: 2%;
}
.bob {
  text-align: center;
  justify-content: left;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  background-color: yellow;
  border: red 5px solid;
  padding: 12px;
}
.btnAdd .create-form{
  justify-content: left;
}
body {
  background-image: url(../css/bobs.webp);
  background-size: cover;
}
.fas .fa-hamburger {
  z-index: 1;
}
label {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
.delete-burger {
  font-family: Arial, Helvetica, sans-serif;
}